@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

*{
	margin: 0;
	padding: 0;
}

h1,p{
	font-family: 'Kanit';
}
.main{
margin: 0 auto;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.socialbox{
display: flex;
justify-content: center;
align-items: center;
}

.social img{
	width: 20px;
	height: auto;
}
.social p{
	color :#fff;
}
.social{
	background-color: #3865f3;
	height: 20px;
	margin: 5px;
	padding: 5px;
	border-radius:100px ;
	transition: .3s;
	color: #fff;
	display: flex;
	font-family: 'Kanit';
}
.social:hover{
	background-color: #000;
	color: #fff;
	
}



.item{
text-align: center;
margin: 10%;
}
.footbar{
	background-color: #3865f3;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
}
.footbar p{
	color: #fff;
}
.logo{
    width: 30%;
	padding-bottom: 5%;
}
.main h1{
    font-size: 36px;

	font-weight: 400;
 }
.main p{
	font-size: 22px;
	font-weight: 300;
}
a{
	color: #3865f3;
	text-decoration: none;
	transition: width 0.5s;
	padding: 5px;
}
a:hover{
	color: #000;
}

@media only screen and (max-width: 768px) {
	.logo{
		width: 60%;
	}
	.main h1{
		font-size: 22px;
		padding: 10px;
	 }
	.main p{
		font-size: 16px;
	}	
  }
.social p{
	padding: 3px;
	font-size: 14px;
}